<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">github</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">twitter</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
