@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
}

p + p {
   margin-top: 1em; 
}

a {
    text-decoration: underline;
    color: MediumSlateBlue;
}