@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
}

p {
   margin-top: 1em; 
}

a {
    text-decoration: underline;
    color: MediumSlateBlue;
}

pre {
    padding: 1em;
    border-radius: .5em;
    overflow-x: scroll;
}